.home__city_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 55px 40px 0 40px;
  column-gap: 20px;
}

.item_city {
  position: relative;
}
.item_city img {
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.sub__text {
  position: absolute;
  bottom: 15px;
  left: 18px;
  font-size: 2rem;
  color: white;
}
