.hotel {
  margin: 90px 40px 0 40px;
}
.hotel div {
  margin: 20px 0;
}
.hotel div strong {
  font-size: 1.8rem;
}

.home__hoTel_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

.item_hotel img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.sub__name {
  color: rgba(162, 21, 218, 0.658);
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}

.sub__price {
  font-weight: 600;
}
.sub__text p {
  padding: 7px 0;
}

.sub__text p span {
  padding: 4px;
  background-color: blue;
  color: white;
}
