.type {
  margin: 55px 40px 0 40px;
}
.type div {
  margin: 20px 0;
}
.type div strong {
  font-size: 1.8rem;
}

.home__Type_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
}

.item_type img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.sub__name {
  font-weight: 700;
  font-size: 1.4rem;
}

.sub__text p {
  padding: 3px 0;
}

.sub__text p span {
  padding: 4px;
  background-color: blue;
  color: white;
}
